.header-container {
  background-color: #1e1e30;
  width: 100%;
  padding: 16px 24px 16px 24px;
}

@media screen and (min-width: 768px) {
  .header-container {
    height: 80px;
  }
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: #f8fafc;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-family: 'Bree Serif';
}

.header-span {
  color: #3b82f6;
}

.menu-button {
  background-color: transparent;
  border: 0px;
  padding: 0px;
  height: 24px;
  width: 24px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px){
  .menu-button {
    display: none;
  }
}

.menu-icon {
  font-size: 26px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .home-about-container {
    display: none;
  }
}

.home{
}

.about{}

.menu-container{}

.display-none{
  display: none;
}